div.partie {
      border: 1px solid black;
      border-radius: 0px 0px 20px 0px;
      margin: 20px 50px;
        
}


div.partie h1{
    background: linear-gradient(to right, #3366cc 63%, #ccffff 100%);
    color:white;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#bckg {
	background: linear-gradient(to right, #99ccff 0%, #ffffff 100%);
}

#txtb {
	color:#3366ff;
}